   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->

      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="/static/images/logo.png" alt="#" width=50  height=50 />
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">

                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="#Sobre">Sobre
                              <li class="nav-item">
                                 <a class="nav-link" href="/clientes"> Clientes
                              <li class="nav-item">
                                 <a class="nav-link" href="/imoveis"> Imoveis
                              <li class="nav-item">
                                 <a class="nav-link" href="/ambientes"> Ambientes

                           
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="text-bg">
                     <h1>Home Automation
                     <span>de Alta disponibilidade
                     <p>Um sistema desacoplado altamente integrado e baseado em hardware simples, porem robusto.
                     <a href="#Sobre">Saiba Mais


               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="/static/images/img2.png" />

      <!-- end banner -->
      <!-- Sobre  -->
      <div id="Sobre" class="Sobre">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2><br>Sobre
                     <p>Tecnologia avançada que já resolve nativamente a maior parte dos problemas convencionais de sistemas anteriores como:

            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" >
                  <div class="Services-box">
                     <i><img src="/static/images/service1.png" alt="#" width=100  height=100 />
                     <h3> cloud hosting
                     <p> Com métricas hospedadas em nuvem, garante o acoplamento a usos extendidos como machine learning, ou alertas para sistemas orientadas a eventos.

               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="/static/images/service2.png" alt="#" width=100  height=100/>
                     <h3>Self-powered
                     <p>Acionadores manuais autoalimentados, garantindo a não necessidade de troca de baterias e aumentando a disponibilidade do equipamento.

               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" >
                  <div class="Services-box">
                     <i><img src="/static/images/radio.png" alt="#"width=100  height=100 />
                     <h3>wireless switch
                     <p>Acionadores wireless, sem necessidade de passagem de fios para instalação.
 
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" >
                  <div class="Services-box">
                     <i><img src="/static/images/voice.png" alt="#" width=100  height=100/>
                     <h3>Voice Activated
                     <p>Possui integração nativa com Alexa e Google, acione seus dispositivos através de voz, pelo celular ou assistente.

               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="/static/images/humidity.png" alt="#" width=100  height=100 />
                     <h3>Smartphone Control
                     <p>Controle universal na palma das mãos através do seu smartphone, seja pela rede local, ou a distância pela internet.



      <!-- end Servicess -->

      <!--  footer -->
      <footer>
      <br><br>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-10">
                     <div class="cont">
                        <h3>Entre em contato agora
                        <span> Home automation feito do jeito certo!
                        <p>Entre em contato: <br> e-mail: eriksegecs@yahoo.com.br <br> whatsapp: (13) 982327841 

            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2021 All Rights Reserved Erik Segecs.
