   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->

      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="/static/images/logo.png" alt="#" width=50  height=50 />
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">

                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="#Sobre">Sobre
                              <li class="nav-item">
                                 <a class="nav-link" href="/clientes"> Clientes
                              <li class="nav-item">
                                 <a class="nav-link active" href="/imoveis"> Imoveis
                              <li class="nav-item">
                                 <a class="nav-link" href="/ambientes"> Ambientes

                           
      <!-- end header inner -->
                                <table  id="table_id" class="display">
                                    <thead>
                                        <tr>
                                            <th>
                                                NOME
                                            <th>
                                                CPF
                                            <th>
                                                IDADE
                                            <th>
                                            <th>
                                            
                                    <tbody>
                                        $forall Entity cid imovel <- imoveis
                                            <tr>
                                                <td>
                                                    #{imovelDono imovel}
                                                <td>
                                                    #{imovelArea imovel}
                                                <td>
                                                    #{imovelEndereco imovel}
                                                <td>
                                                    <form method=get action=@{ImoR cid}>
                                                        <input type="submit" value="Ver">
                                                <td>
                                                    <form method=post action=@{ApagarImoR cid}>
                                                        <input type="submit" value="X">


      <!--  footer -->
      <footer>
      <br><br>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-10">
                     <div class="cont">
                        <h3>Entre em contato agora
                        <span> Home automation feito do jeito certo!
                        <p>Entre em contato: <br> e-mail: eriksegecs@yahoo.com.br <br> whatsapp: (13) 982327841 

            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2021 All Rights Reserved to Erik Segecs.
